<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="user" class="Entities.User"/>

    <bean id="UserService" class="Services.UserService"/>

    <bean id="event" class="Entities.Event">
        <property name="name" value="Matrix"/>
        <property name="price" value="125.50"/>
        <property name="rating" value="mid"/>
    </bean>

</beans>